{% extends 'base.html' %}
{% load static %}

{% block navbar%}
{% include 'components/navbar.html' %}
{% endblock navbar %}


{% block left_sidebar %}
{% include 'components/sidebar/left/sidebar.html' %}
{% endblock left_sidebar %}


{% block content %}
<div class="container mx-auto px-4">
    <p>test</p>
  </div>

{% endblock content %}


{% block right_sidebar %}
derecha
{% endblock right_sidebar %}


{% block footer %}

{% endblock footer %}


{% block javascript %}

{% endblock javascript %}   